.header {
  display: flex;
  grid-column-start: 1;
  grid-row-start: 1;
}
.logo {
  padding: 2rem;
  width: 100%;
  background-color: white;
  transition: 300ms ease;
  filter: grayscale(1);
}
.logo > img {
  height: 100%;
}
.logo:hover {
  transition: 1000ms ease;
  filter: grayscale(0);
}
